* {
  box-sizing: border-box;
}

/* Make flex class */
/* .flex center {
  display: flex;
  justify-content: center;
  align-items: center;
} */




body {
  height: 100vh;
  margin: 0 auto;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
/* CHANGE HEIGHT & WIDTH TO MORE APPROPRIATE */
  height: 800px;
  width: 1000px;

}


/* Divs */
#grid div {
  border: 1px solid lightgray;
  flex-grow: 1;
  height: calc(100% / 10);
  width: calc(100% / 11);
}

#grid div.froggy {
  background-image: url('../assets/SriLanka.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

#grid div.collider {
  background-color: blueviolet;
}

#grid div.home {
  background-color: rgb(0, 132, 255);
  border: 5px solid rgb(5, 200, 14);
} 

#grid div.obstacle {
  background-color: lightslategray;
  border: 5px solid rgb(44, 44, 44);
} 



.bang-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
  border-radius: 10px;
  background-color: rgb(255, 0, 123);
  z-index: 10;
  width: 500px;
  height: 200px;
  max-width: 80%;
  
  display: none;
}

#bang-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#bang-message {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bang-overlay {
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240, 255, 0, .5);
  display: none;
} 

#close-btn{
  cursor: pointer;
  width: 150px;
  text-align: center;
  justify-content: center;
  line-height: 15px;
}