* {
  box-sizing: border-box;
}

/* Make flex class */
/* .flex center {
  display: flex;
  justify-content: center;
  align-items: center;
} */




body {
  height: 100vh;
  margin: 0 auto;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
/* CHANGE HEIGHT & WIDTH TO MORE APPROPRIATE */
  height: 600px;
  width: 800px;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg);
}


/* Divs */
#grid div {
  border: 1px solid lightgray;
  flex-grow: 1;
  height: calc(100% / 10);
  width: calc(100% / 11);
}

#grid div.froggy {
  background-image: url('../assets/SriLanka.JPG');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

#grid div.collider {
  /* Find a way to make the div smaller without distorting the grid */
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 7px; */
  border-radius: 50%;
  border-color: #fff;
  background-color: #fff;
  box-shadow:
    5px 0 5px 5px #fff,  /* inner white */
    15px 0 50px 30px #f0f, /* middle magenta */
    25px 0 70px 45px #0ff; /* outer cyan */

}

#grid div.collider2 {
  /* Find a way to make the div smaller without distorting the grid */
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 7px; */
  border-radius: 50%;
  border-color: rgb(111, 6, 192);
  background-color: rgb(111, 6, 192);
  box-shadow:
    -10px 0 5px 5px rgb(111, 6, 192),  /* inner white */
    -15px 0 20px 15px rgb(0, 38, 255), /* middle magenta */
    -20px 0 50px 25px rgb(0, 255, 251); /* outer cyan */

}


#grid div.home {
  background-color: rgb(0, 132, 255);
  border: 5px solid rgb(5, 200, 14);
} 

/* Dont think I need this one as always remains .home now */
#grid div.occupied {
  background-color: rgb(0, 132, 255);
  border: 5px solid rgb(5, 200, 14);
} 

#grid div.obstacle {
  background-color: white; 
  border-radius: 7px;
  box-shadow: 5px 5px 20px 10px #00DDEB;
  transition: background-color ;
} 

#bang-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
  border-radius: 10px;
  background-color: rgb(255, 0, 123);
  z-index: 10;
  width: 500px;
  height: 200px;
  max-width: 80%;
  display: none;
}

#win-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid red;
  border-radius: 10px;
  background-color: rgb(255, 0, 123);
  z-index: 10;
  width: 500px;
  height: 200px;
  max-width: 80%;
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#bang-message {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bang-overlay {
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240, 255, 0, .5);
  display: none;
} 

.close-btn{
  cursor: pointer;
  width: 150px;
  text-align: center;
  justify-content: center;
  line-height: 15px;
}