* {
  box-sizing: border-box;
}

/* Make flex class */
.flex center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make image center norepeat class? */
/* background-repeat: no-repeat;
background-position: center;
background-size: contain; */
/* Not all are contain^ */


body {
  height: 100vh;
  margin: 0 auto;
  background-image: url('../assets/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
/* CHANGE HEIGHT & WIDTH TO MORE APPROPRIATE */
  height: 800px;
  width: 1000px;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg);
  box-shadow: 5px 5px 20px 10px #003feb;
}

/* Divs */
#grid div {
  /* border: 1px solid lightgray; */
  flex-grow: 1;
  height: calc(100% / 10);
  width: calc(100% / 11);
}

#grid div.froggy {
  background-image: url('../assets/PlayerF1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 5px 5px 20px 10px #00DDEB;
  z-index: 6;
  /* cursor: pointer; */
}

#grid div.collider {
  /* border-radius: 50%;
  border-color: #fff;
  background-color: #fff;
  box-shadow:
    5px 0 5px 5px #fff,  
    15px 0 50px 30px #f0f, 
    25px 0 70px 45px #0ff;  */
    background-image: url('../assets/SparklyCircle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#grid div.collider2 {
  /* border-radius: 50%;
  border-color: rgb(111, 6, 192);
  background-color: rgb(111, 6, 192);
  box-shadow:
    -10px 0 5px 5px rgb(111, 6, 192),
    -15px 0 20px 15px rgb(0, 38, 255), 
    -20px 0 50px 25px rgb(0, 255, 251);  */
    background-image: url('../assets/SpinningCropped.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#grid div.home {
  background-image: url('../assets/HomeOption2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border-radius: 50%; */
  /* border-color: #fff; */
  /* background-color: #fff; */
  box-shadow:
    5px 0 5px 5px #0ff,  
    15px 0 50px 30px #f0f, 
    25px 0 70px 45px #0ff; 
} 

#grid div.occupied {
  background-image: url('../assets/PlayerF1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 

#grid div.obstacle {
  background-color: black; 
  border-radius: 7px;
  /* box-shadow: 5px 5px 20px 10px #00DDEB; */
  box-shadow: 5px 5px 20px 10px #eb0095;
  transition: background-color ;
  background-image: url('../assets/PurpleSwirlCropped.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} 

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 5px solid red; */
  border-radius: 10px;
  background-color: rgb(255, 0, 123);
  z-index: 10;
  width: 500px;
  height: 300px;
  max-width: 80%;
  display: none;
  box-shadow: 5px 5px 20px 10px #eb0095;
}

#opening-popup {
  border: 5px solid rgb(0, 251, 255);
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  /* background-image: linear-gradient(144deg,rgb(255, 0, 123), #5B42F3 50%,#00DDEB); */
  width: 600px;
  height: 750px;
  box-shadow:
  5px 0 5px 5px #0ff,  
  15px 0 50px 30px #f0f, 
  25px 0 70px 45px #0ff; 
  color: white;
}

h1{
  font-family: 'Space Mono', monospace;
  font-size: 45px;
  font-weight: bold;
  font-style: italic;
}

p{
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  font-size: 25px;
  color: white
}

span{
  font-weight: bold;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

}

#bang-message {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay{
  background-image: url('../assets/Background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

#opening-overlay {
  opacity: 0.6;
}

#bang-overlay {
  opacity: 0.4;

} 

.close-btn{
  cursor: pointer;
  /* width: 150px; */
  padding: 10px 30px;
  text-align: center;
  justify-content: center;
  line-height: 15px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
  font-size: 20px;
  color: white;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  background-image: url('../assets/Background.jpeg');
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 30px auto;
  border-radius: 10px;
}




